/* .main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
} */
.main-content {
  flex: 1;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--bg-secondary, #1c1c1c);
}
